.body{
    background-color: #fff;
}
.online_btn{
    background-color: #fff;
}
.main {
    position: relative;
    width: 980px;
    margin: 10px auto;
}
.breadcrumb {
    overflow: hidden;
    background-color: #fff;
}
.breadcrumb > li + li::before {
    padding-right:0px;
    color:#787878;
    content: ">\00a0"
}
.clearfix:before, .clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.breadcrumb li {
    float: left;
    color: #444;
    height: 30px;
}
a:link, a:visited, ins,a:focus {
    outline:none;
}
a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: #322c27;
    font-size: 14px;
}
.personalCenter {
    background: #fff;
    padding: 20px 0px 20px;
    min-height: 700px;
    _height: 700px;
    position: relative;
}
.center-sidebar {
    width: 130px;
    float: left;
}
.center-sidebar li {
    margin-bottom: 16px;
}
.center-sidebar a {
    overflow: visible !important;
}
.center-sidebar a {
    width: 128px;
    height: 38px;
    display: block;
    border: #dcdee0 solid 1px;
    line-height: 38px;
    text-indent: 35px;
    position: relative;
    color: #222;
    text-decoration: none;
}
.center-sidebar a:hover, .center-sidebar a.slideactive {
    border: #ff545a solid 1px;
    color: #ff545a;
}

.centerCon {
    width: 790px;
    float: right;
}
.centerTab {
    height: 39px;
    border-bottom: #999 solid 1px;
}
.centerTab li {
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: #999 solid 1px;
    border-bottom: none;
    cursor: pointer;
    float: left;
    width: 98px;
    margin-right: 10px;
    background: #fff;
}
.centerTab li.active {
    height: 39px;
    font-weight: bold;
}
.accountMt {
    border: #999 solid 1px;
    border-top: none;
}
.pd00 {
    padding: 0;
}
.MtList {
    padding: 20px;
    display: none;
}
.order-box {
    position: relative;
}
.order-box {
    margin-top: 11px;
    border-top: #e6e6e6 solid 1px;
    border: #e6e6e5 solid 1px;
}
.order-info {
    padding-bottom: 8px;
    line-height: 20px;
    height: 20px;
}
.order-info, .home-info {
    height: 35px;
    line-height: 35px;
    background: #f2f2f2;
    color: #808080;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}
.order-con, .home-con {
    padding: 10px 0 10px 10px;
    font-size: 12px;
}

.order-img, .order-title, .order-book, .home-book, .order-money, .order-feedback, .home-feedback, .order-handle, .home-handle, .home-img, .home-title {
    height:111px;
    overflow: hidden;
    float: left;
}
.order-img img{
    width:160px;
    height:111px;
}
  
img {
    border: 0;
}
img {
    vertical-align: top;
}
.order-title, .home-title {
    width: 230px;
}
.order-title, .home-title {
    padding: 0 3px 9px 9px;
}
.order-title h2, .home-title h2 {
    max-height: 56px;
    line-height: 27px;
    font-size: 14px;
    overflow: hidden;
}
.order-title a, .home-title a, .feedbackp a, .order-handle a, .home-handle a {
    color: #458fce;
}
.adress {
    color: #999;
    margin-top: 8px;
}
.order-book {
    width: 124px;
}
.order-book, .home-book, .order-money, .order-feedback, .home-feedback, .order-handle, .home-handle {
    border-left: #ebebeb solid 1px;
}
.order-book, .home-book, .order-money {
    padding: 0 9px;
}
.book {
    line-height: 27px;
}
.book, .money, .feedback {
    color: #666;
}
.order-money {
    width: 104px;
}
.money {
    line-height: 27px;
    margin-top: 0px;
}
.order-feedback {
    width: 114px;
}
.feedbackp {
    text-align: center;
    line-height: 28px;
}
.mgtp30 {
    margin-top: 30px;
}
.feedback {
    font-size: 14px;
    text-align: center;
}
.order-handle {
    width: 104px;
    height: 111px;
}
.order-handle, .home-handle {
    vertical-align: middle;
    color: #666;
    text-align: center;
}
.textcenter {
    text-align: center;
}
.fl {
    float: left;
}
body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ul, ol, li, a, span, i, b, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
.fr {
    float: right;
}
.relave {
    position: relative;
    left: 0;
    top: 0;
}
.hover_name {
    position: absolute;
    display: none;
    background: #fff;
    padding: 6px 9px;
    box-sizing: border-box;
    top: 25px;
    left: 60px;
    border: 1px solid #ddd;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    z-index: 10;
}
.trangle {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #ddd transparent;
    margin-top: -22px;
    margin-bottom: 5px;
}
.page_block {
    margin-top: 65px;
}

.order-info .fl span{
    margin-right:5px;
  }