.page_block{
	text-align: center;
	margin: 30px 0 20px 0;
}
.pager_block{
	text-align: center;
	margin: 30px 0 20px 0;
}
.page_block .el-pagination.is-background .el-pager li:not(.disabled):hover {
		
	color:#ff545a
}
.page_block .el-pagination.is-background .el-pager li:not(.disabled).active {
	background-color:#ff545a;
	color:#FFF
}
