<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.dao.HouseDao">
	<!-- 房源添加操作 -->
	<insert id="add" parameterType="com.rental.entity.House">
		insert into house(id,name,photo,price,address,liveNum,introduce,landlordId,bedRoomNum,toiletNum,bedNum,isRealPhoto,isCooking,isParkFree,isProject) values(null,#{name},#{photo},#{price},#{address},#{liveNum},#{introduce},#{landlordId},#{bedRoomNum},#{toiletNum},#{bedNum},#{isRealPhoto},#{isCooking},#{isParkFree},#{isProject})
	</insert>
	<!-- 房源编辑操作 -->
	<update id="edit" parameterType="com.rental.entity.House">
		update house set name=#{name},photo=#{photo},price=#{price},address=#{address},liveNum=#{liveNum},introduce=#{introduce},landlordId=#{landlordId},bedRoomNum=#{bedRoomNum},toiletNum=#{toiletNum},bedNum=#{bedNum},isRealPhoto=#{isRealPhoto},isCooking=#{isCooking},isParkFree=#{isParkFree},isProject=#{isProject} where id=#{id}
	</update>
	<!-- 删除房型信息 -->
	<delete id="delete" parameterType="Long">
		delete from house where id=${value}
	</delete>
	<!-- 获取单个房屋信息 -->
	<select id="findById" parameterType="Long" resultType="com.rental.entity.House">
		select * from house where id=#{value}
	</select>
	<!-- 房间信息搜索查询 -->
	<select id="findList" parameterType="Map" resultType="com.rental.entity.House">
		select t.*,s.photo as userPhoto,s.username as landlordName from house t
		left join (select * from user) s on s.id=t.landlordId
		where 1=1
		<if test="name != null">
			and name like '%${name}%' 
		</if>
		<if test="address != null">
			and address like '%${address}%' 
		</if>
		<if test="landlordId != null">
			and landlordId = #{landlordId} 
		</if>
		<if test="offset != null and pageSize != null">
			limit #{offset},#{pageSize}
		</if>
	</select>
	<!-- 模糊搜索总条数 -->
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(*) from house where 1=1 
		<if test="name != null">
			and name like '%${name}%' 
		</if>
		<if test="address != null">
			and address like '%${address}%' 
		</if>
		<if test="landlordId != null">
			and landlordId = #{landlordId} 
		</if>
	</select>

</mapper>